.child1{
    width: 200px;
    height:200px;
    background-color: rgb(255, 166, 0);
    border: dashed 10px rgb(80, 33, 5);
}
#test_div{
    width: 150px;
    height: 100px;
    border-radius: 20px;
    background-color: rgb(44, 164, 201);
    text-align: center;
    padding: 20px 10px 10px 20px;
}